body{
    background-color: black;
    height: 100%;
    font: 3vw;
}

#titre {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-style: italic;
  padding-top: 240px;
}
h1{
    font-size: 15vw;
    letter-spacing: -16px;

}

h4{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.contact {
    color: white;
    text-decoration: none;
    margin-top: 52px;
}
a{
    color: white;
    text-decoration: none;
}