body{
    background-color: black;
    height: 100%;
}

#titre {
  padding-top: 300px;
  max-width: 80%;
}
h4{
    marging-top: 32px;
    font-family: 'Courier New' , Courier, monospace !important; 
    color: white;
}

.contact {
    font-family:'Courier New' , Courier, monospace !important;
    color: white;
    text-decoration: none;
    margin-top: 52px;
}
a{
    color: white;
    text-decoration: none;
}
